.card {
  padding-top: em(35);
  .breadcrumbs {
    &-wrapper {
      margin-bottom: em(47);
      padding-left: em(57);
    }
  }
  .section1{
    padding-top: em(17);
    .slider {
      width: em(428);
      margin-left: em(57);
      margin-top: em(45);
      .full-screen, .share{
        width: em(87);
        height: em(87);
        left: em(30);
        border-radius:em(3);
        background-color: rgba(94, 94, 94, 0.2);
        transition: all .4s ease;
        svg{
          fill: rgba(255, 255, 255, 0.8);
          width: em(27);
          height: em(27);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }
      .full-screen{
        top: em(30);
        &:hover{
          background-color: rgba(94, 94, 94, 0.7);
          svg{fill: #FFF}
        }
      }
      .share{
        top:em(125);
        &:hover{
          background-color: rgba(94, 94, 94, 0.7);
          svg{fill: #FFF}
        }
      }
      .slider-big {
        .slick-slide {
          height: em(438);
          img {
            height: 100% !important;
          }
        }
        margin-bottom: em(13);
      }
      .slider-litl {
        width: em(330);
        margin-left: em(50);
        .slick-slide {
          .slick-slide {
            height: em(612);
            img {
              height: 100% !important;
            }
          }
          img {
            height: em(75) !important;
          }
        }
        .slick-prev {
          font-size: em(16) !important;
          background: url("/media/img/card/play.png");
          background-size: 100% ;
          transform: rotate(180deg);
          width: em(15);
          height: em(15);
          top: 42%;
          left: em(-37) !important;
        }
        .slick-next {
          background: url("/media/img/card/play.png");
          background-size: 100% ;
          font-size: em(16) !important;
          right: em(-37) !important;
          width: em(15);
          height: em(15);
        }
        .slick-prev:before, .slick-next:before {
          display: none;
        }
      }
    }
    .r-block {
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin-left: em(57);
      width: em(390);
      .pre-titl {
        font-family: MontserratRegular;
        font-size: em(21);
        color: #b9b9b9;
        margin-top: em(42,21);
      }
      .titl {
        font-size: em(50);
        font-family: OswaldBold;
        color: #1b342e;
        margin-top: em(20,50);
      }
      .switching-color {
        display: inline-block;
        margin-top: em(40);
        .set {
          display: block;
          p {
            font-family: MontserratMedium;
            color: #b9b9b9;
            display: inline-block;
            font-size: em(22);
          }
          .color-name {
            display: none;
            font-family: MontserratMedium;
            color: #1b342e;
            font-size: em(22);
            margin-left: em(14,22);
          }
          .color-name-active {
            display: inline-block
          }
        }
        .colors {
          display: block;
          margin-top: em(31);
          .color-border {
            cursor: pointer;
            display: inline-block;
            width: em(45);
            height: em(45);
            border-radius: em(35);
            border: solid 1px #e6e6e6;
            background-color: white;
            position: relative;
            margin-right: em(25);
            img {
              width: em(25);
              height: em(25);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0);
            }
            &:hover{
              img{
                width: em(35);
                height: em(35);
              }
            }
          }
          .color-border-active {
            border: none;
            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0);
              width: em(8);
              height: em(8);
              background-color: white;
              z-index: 2;
              border-radius: em(7);
            }
            img {
              width: em(45);
              height: em(45);
            }
            &:hover{
              img {
                width: em(45);
                height: em(45);
              }}
          }
        }
      }
      .price {
        display: block;
        position: relative;
        vertical-align: top;
        margin: em(35) 0 0 0;
        .big {
          display: inline-block;
          position: relative;
          vertical-align: top;
          font-size: em(40);
          font-family: OswaldBold;
          letter-spacing: em(4, 48);
          color: #1a332d;
        }
        .litl {
          position: relative;
          vertical-align: top;
          display: inline-block;
          font-family: OswaldBold;
          font-size: em(16);
          color: #1a332d;
          &:before {
            content: '';
            position: absolute;
            bottom: em(-4, 16);
            left: 0;
            right: 0;
            width: em(25, 16);
            height: em(3, 16);
            background-color: #1a332d;
          }
        }
      }
      .s1-btn {
        font-size: em(21);
        display: block;
        max-width: em(200);
        font-family: MontserratBold;
        color: white;
        background-color: #1b342e;
        box-shadow: -1px em(8,21) em(17,21) 0 rgba(29, 32, 108, 0.13);
        padding: em(22,21) em(57,21);
        margin-top: em(45,21);
        margin-bottom: em(170,21);
        cursor: pointer;
        transition: all .4s ease;
        &:hover{background-color: #58a794;}
      }
      .mob{display: none}
      .characteristics {
        border-bottom: 1px solid #b9b9b9;
        margin-top: em(172);
        margin-left: em(-490);
        padding-bottom: em(27);
        .titl-char{
          font-size: em(27);
          font-family: MontserratBold;
          color: #1b342e;
          margin-bottom: em(28,27);
        }
        ul{
          padding: 0;
          display: inline-block;
          position: relative;
          vertical-align: top;
          margin-bottom: 0;
        }
        .r-ul{float: none;margin-right: 0; margin-left: em(310)}
        li{
          list-style-type: none;
          display: block;
          p{
            font-size: em(22);
            display: block;
            font-family: MontserratBold;
            color: #1b342e;
            margin-bottom: em(59,22);
          }
          span{
            display: block;
            font-family: MontserratMedium;
            color: #5e5e5e;
            margin-top: em(19,22);
          }
        }
      }
    }
  }

  .section2{
    padding-top: em(43);
    padding-bottom: em(185);
    position: relative;
    .l-block{
      position: absolute;
      top: em(75);
      margin: 0;
      left: em(57);
      opacity: 0;
      transition: all .5s ease;
      .titl{
        font-size: em(28);
        margin-top: em(950,28);
        font-family: MontserratBold;
        color: #1b342e;
      }
      .img-gamma{
        margin-top: em(68);
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: em(30);
        margin-left: em(3);
        ul{
          display: block;
          padding-left: 0;
        }
        ul:first-child{margin-bottom: em(14)}
        li{
          list-style-type: none;
          display: inline-block;
          width: em(443);
          height: em(225);
          img{width: 100%}
        }
        li:first-child{margin-right: em(14)}
      }
      .l-bottom{
        margin-top: 0;
        position: absolute;
        top: 0;
        left: 0;
        .titl-bot{
          font-size: em(26);
          line-height: em(28,26);
          font-family: MontserratBold;
          color: #1b342e;
          width: em(420,26);
        }
        ul{
          padding-left: em(27);
          margin-top: em(97);
          li{
            width: em(880);
            border-bottom: 1px solid #b9b9b9;
            padding-bottom: em(85);
            margin-top: em(75);
            img{
              display: inline-block;
              width: em(98);
            }
            p{
              font-size: em(18);
              line-height: em(32,18);
              color: #333333;
              width: em(390,18);
              margin-left: em(50,18);
            }
          }
          li:first-child{margin-top: 0}
        }
      }
    }
    .r-block{
      position: relative;
      vertical-align: top;
      width: em(850);
      display: inline-block;
      margin-left: em(57);
      .titl{
        font-family: MontserratBold;
        font-size: em(27);
        color: #1b342e;
      }
      .text{
        margin-top: em(47);
        height: em(150);
        overflow: hidden;
        position: relative;
        transition: height .4s ease;
        &:before{
          content: '';
          position: absolute;
          bottom: em(-20);
          left: 0;
          right: 0;
          background: linear-gradient(to top, white, transparent);
          height: em(120);
        }
        p{
          font-size: em(18);
          line-height: em(40,18);
          color: #333333;
          font-family: MontserratRegular;
          margin-bottom: em(35);
        }
      }
      .button{
        font-size: em(22);
        display: block;
        color: white;
        font-family: MontserratBold;
        margin-top: em(45,22);
        .description{
          background-color: #58a794;
          padding: em(19,22) em(45,22);
          margin-right: em(18,22);
          cursor: pointer;
          transition: all .4s ease;
          &:hover{background-color: #1b342e;}
        }
        .hide{display: none;}
        .buy{
          background-color: #1b342e;
          padding: em(18,22) em(67,22);
          cursor: pointer;
          opacity: 0;
          transition: all .4s ease;
          &:hover{background-color: #58a794;}
        }
      }
      .r-bottom{
        margin-top: em(100);
        .titl-bot{
          font-family: MontserratBold;
          font-size: em(32);
          color: #1b342e;
          line-height: em(38,32);
          width: em(450,32);
        }
        .partner{
          margin-top: em(55);
          p{
            font-size: em(18);
            line-height: em(35,18);
            color: #333333;
            margin-bottom: em(20,18);
            margin-left: em(3,18);
          }
          a{
            font-size: em(14);
            line-height: em(22,14);
            font-family: MontserratBold;
            color: #1b342e;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
  .cart-open{
    .l-block{
      opacity: 1;
      height: auto;
      top: em(1475);}
    .r-block{
      .text{
        height:auto;
        &:before{display: none}}
      .button{
        .read{display: none}
        .hide{display: inline-block}
        .buy{opacity: 1}
      }
      .r-bottom{
        margin-top: em(1755);
      }
    }
  }
}