.category-plus {
    .section1-right .category-img {
        background-image: url('../img/cat-plus-tab.png');
    }
    .category-goods {
        flex-wrap: wrap;
    }
    .category-goods-col {
        width: 50%;
        margin-bottom: em(20);
    }
    .category-col-wrapper {
        display: flex;
        width: 100%;
    }
    .category-col-wrapper-lg {
        width: 100%;
        .category-goods-img {
            padding-left: em(50);
        }
    }
    
    .category-col-wrapper-mid {
        width: 100%;
    }
    
    .category-col-wrapper-sm {
        width: 50%;
    }
}
