.home {

  .lin {
    width: em(247);
    height: 1px;
    background-color: #b9b9b9;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      width: em(83);
      height: 3px;
      left: 0;
      background-color: #1b342e;
    }
  }
  .section1 {
    padding-bottom: em(0);
    position: relative;
    .text-center {
      left: em(0);
      top: em(145);
      margin: 0;
      padding: em(57) em(35);
      position: absolute;
      z-index: 5;
      background-color: white;
      .titl {
        font-size: em(54);
        margin-bottom: em(53, 54);
        letter-spacing: em(3, 54);
      }
      p {
        font-size: em(14);
        line-height: em(30, 18);
        color: #5e5e5e;
        width: em(435, 18);
        font-family: MontserratRegular;
      }
      .titl-bg {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: em(-35, 74);
          left: em(-64, 74);
          width: em(272, 74);
          height: em(65, 74);
          background-color: #f8f8fa;
          z-index: -1;
        }
        &:before {
          content: '';
          position: absolute;
          bottom: em(-29, 74);
          left: 0;
          width: em(35, 74);
          height: em(12, 74);
          background-color: #1b342e;
          z-index: -1;
        }
      }
    }
    .img {
      float: right;
      width: em(452);
      height: em(575);
      position: relative;
      overflow: hidden;
      background-image: url("/media/img/bg-pic.png");
      background-size: cover;
      img {
        display: none;
      }
      .s1-pop-up{
        display: none;
      }
      .s1-plus-up {
        display: none;
      }
    }
    .bot-anim {
      display: none;
    }
  }
  .section2 {
    padding-top: em(90);
    padding-bottom: em(35);
    .l-block {
      display: inline-block;
      width: em(432);
      height: em(414);
      margin-left: em(21);
      margin-top: em(40);
      position: relative;
      background-image: url("/media/img/bitmap.png");
      background-size: cover;
      background-position: right;
      img {
       display: none;
      }
      p {
        font-size: em(19);
        top: em(240, 20);
        right: em(35, 20);
        transform: rotate(-90deg);
        &:before {
          right: em(-170, 20);
          top: em(5, 20);
          height: em(18, 20);
          width: em(3, 20);
        }
      }
    }
    .r-block {
      margin-top: em(0);
      text-align: right;
      margin-right: em(45);
      .titl {
        font-size: em(30);
        letter-spacing: em(4,30);
        &:after {
          content: '';
          position: absolute;
          top: em(-35, 44);
          right: em(-90, 44);
          width: em(259, 44);
          height: em(53, 44);
          background-color: #f8f8fa;
          z-index: -1;
        }
        &:before {
          content: '';
          position: absolute;
          bottom: em(-18, 44);
          right: 0;
          width: em(25, 44);
          height: em(6, 44);
          background-color: #1b342e;
          z-index: -1;
        }
      }
      ul {
        margin-top: em(115);
      }
      li {
        font-size: em(20);
        padding: 2px;
        margin: em(28, 20) 0;
      }
      .lin {
        margin-top: em(92);
      }
    }
    .bot-block {
      width: em(545);
      height: em(355);
      padding: em(40) em(38);
      margin-left: em(45);
      margin-top: em(-25);
      position: relative;
      z-index: 2;
      .bot-text {
        display: none;
        width: 100%;
        height: 100%;
        .titl {    font-size: em(20);     }
        p {
          line-height: em(22, 14);
          margin-top: em(25, 14);
          line-height: em(24, 14);  }

      }
      a {
        margin-right: em(12);
        padding: em(16) em(25);
        bottom: em(40);
        left: em(40);
        img {
          width: em(28);
          margin-left: em(10);
        }
      }
      .activ-b {
        display: block
      }
    }
    .bg-paralax{
      font-family: OswaldBold;
      font-size: em(558);
      letter-spacing: em(4, 558);
      color: #f8f8f8;
      opacity: 0.6;
      position: absolute;
      bottom: em(180, 558);
      right: em(-540, 558);
      z-index: -1;
    }
  }
  .section3 {
    padding-top: em(20);
    padding-bottom: em(20);
    .l-block{
      margin-left: em(44);
      .titl{
        font-size: em(30);
        letter-spacing: em(4,30);
        &:after {
          content: '';
          position: absolute;
          top: em(-30, 44);
          left: em(-70, 44);
          width: em(173, 44);
          height: em(53, 44);
          background-color: #f8f8fa;
          z-index: -1;
        }
        &:before {
          content: '';
          position: absolute;
          bottom: em(-18, 44);
          left: 0;
          width: em(25, 44);
          height: em(6, 44);
          background-color: #1b342e;
          z-index: -1;
        }
      }
      ul {
        margin-top: em(110);
        padding-left: 0;
      }
      li {
        font-size: em(20);
        margin: em(32, 20) 0;
      }
      .lin {
        margin-top: em(60);
      }
    }
    .r-block{
      width: em(414);
      height: em(415);
      margin-right: em(20);
      margin-top: em(60);
      background-image: url("/media/img/bitmap3.png");
      background-size: cover;
      background-position: right;
      img{display: none}
      .s3-pop-up{ display: none; }
      .s3-plus-up { display: none; }
    }
    .bot-block{
      width: em(545);
      height: em(300);
      padding: em(40) em(38);
      margin-right: em(44);
      margin-top: em(-24);
      .bot-text {
        display: none;
        width: 100%;
        height: 100%;
        .titl {
          font-size: em(20);
        }
        p {
          margin-top: em(29, 14);
          line-height: em(24, 14);
        }

      }
      a {
        margin-right: em(12);
        padding: em(16) em(55);
        bottom: em(50);
        left: em(35);
        &:hover{
          color: white;
          background-color: #1b342e;
          box-shadow: -1px em(23) em(33) 0 rgba(29, 32, 108, 0.13);
        }
      }
      .activ-b {
        display: block
      }
    }
    .bg-paralax{
      padding: 0;
      font-family: OswaldBold;
      font-size: em(558);
      letter-spacing: em(4, 558);
      color: #f8f8f8;
      opacity: 0.6;
      position: absolute;
      bottom: em(90, 558);
      left: em(-30,558);
      z-index: -1;
    }
  }
  .section4 {
    display: none;
    padding-top: em(20);
    padding-bottom: em(120);
    position: relative;
    .titl{
      font-size: em(30);
      letter-spacing: em(4, 30);
      margin-top: em(25, 30);
      margin-left: em(44, 30);
      &:after {
        content: '';
        position: absolute;
        top: em(-30, 44);
        left: em(-70, 44);
        width: em(215, 44);
        height: em(53, 44);
        background-color: #f8f8fa;
        z-index: -1;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: em(-15, 44);
        left: 0;
        width: em(25, 44);
        height: em(6, 44);
        background-color: #1b342e;
        z-index: -1;
      }
    }
    .swiper-sl2{
      margin-top: em(70);
      height: em(715);
      position: relative;
      .sw-w{
        width: em(1335);
        height: 100%;
        background-image: linear-gradient(115deg, #d5ece7, #abd5cb);
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        p{
          font-family: OswaldBold;
          font-size: em(558);
          letter-spacing: em(4, 558);
          color: #f8f8f8;
          opacity: 0.15;
          position: absolute;
          bottom: em(-170, 558);
          left: em(230,558);
          z-index: -1;}
      }
      .center-block{
        padding: em(114) em(80) em(72) em(80);
        position: relative;
        background-color: white;
        top: em(162);
        z-index: 2;
        transition: all .5s ease;
        .photo{
          position: absolute;
          top: em(17);
          right: em(-70);
          transition: all 0.5s ease;
          opacity: 0.7;
          width: em(232);
        }
        .name{
          font-family: MontserratBold;
          font-size: em(24);
          color: #b9b9b9;
          position: relative;
          z-index: 2;
        }
        svg{
          width:em(82);
          height: em(75);
          position: absolute;
          top:em(59);
          left: em(48);
        }
        .position{
          font-family: MontserratRegular;
          font-size: em(20);
          color: #b9b9b9;
          padding: em(9,20) 0 em(14,20) 0;
          max-width: em(235,20);
          line-height: em(26,20);
        }
        p{
          font-size: em(14);
          font-family: MontserratRegular;
          line-height: em(24, 14);
          color: #b9b9b9;
          width: em(392, 14);
        }
        .data{
          font-size: em(14);
          color: #b9b9b9;
          font-family: MontserratRegular;
          margin-top: em(50, 14);
        }
        .plus{
          width: em(55);
          height: em(55);
          display: block;
          border-radius: em(55);
          background-color: #ffffff;
          box-shadow: -1px em(5) em(12) 0 rgba(29, 32, 108, 0.27);
          position: absolute;
          bottom: em(-27);
          left: 50%;
          transform: translate(-50%, 0);
          img{
            width: em(13);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.5s ease;
            opacity: 0.6;
          }
        }

      }
      .swiper-slide-active{
        .center-block{
          top:em(92);
          .photo{
            opacity: 1;
          }
          .name{color: #1b342e}
          .position{color: #1b342e}
          p{color: #5e5e5e}
          .plus{img{opacity: 1}}
        }
      }
    }
    .swiper-button-next, .swiper-button-prev{
      position: absolute;
      height: em(135);
      width: em(130);
      z-index: 2;
      background: url("");
      background-color: white;
      img{
        width: em(36);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .swiper-button-next{
      top: auto;
      bottom: em(40);
      left: em(600);
    }
    .swiper-button-prev{
      top: auto;
      bottom: em(40);
      left: em(471);
      transform: rotate(-180deg);
      &:before{
        content: '';
        position: absolute;
        left: 1px;
        top: em(30);
        width: em(1);
        height: em(69);
        background-color: #b9b9b9;
      }
    }

  }
  .section5 {
    padding-top: em(40);
    padding-bottom: em(30);
    .titl{
      font-size: em(30);
      letter-spacing: em(4,30);
      margin-top: em(80,30);
      margin-left: 0;
      margin-right: em(80,30);
      float: right;
      &:after {
        content: '';
        position: absolute;
        top: em(-30,30);
        left: em(-75,30);
        width: em(333,30);
        height: em(53,30);
        background-color: #f8f8fa;
        z-index: -1;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: em(-18,30);
        left: 0;
        width: em(25,30);
        height: em(6,30);
        background-color: #1b342e;
        z-index: -1;
      }
    }
    .map{
      margin-top: em(530);
      width: 100%;
      height: em(660);
      float: none;
      display: block;
    }
    .l-block{
      left: em(44);
      top: em(200);
      width: em(629);
      z-index: 9;
      padding-bottom: em(79);
      .search{
        width: em(629);
        padding: em(18) em(38);
        background-color: #ffffff;
        box-shadow: -1px em(8) em(17) 0 rgba(29, 32, 108, 0.13);
        input{
          display: inline-block;
          font-size: em(20);
          color: #b9b9b9;
          line-height: em(26,20);
          border: none;
          width: em(470, 20);
          padding: em(10,20) 0;
          border-bottom: 1px solid #b9b9b9;
          position: relative;
          vertical-align: top;
        }
        img{
          margin-top: em(5);
          display: inline-block;
          width: em(25);
          margin-left: em(27);
        }
      }
      .titl-search{
        font-size: em(20);
        font-family: MontserratBold;
        color: #1b342e;
        margin-top: em(117,20);
        margin-bottom: em(20,20);
        margin-left: em(73,20);
      }
      p{
        font-family: MontserratRegular;
        font-size: em(14);
        line-height: em(24,14);
        color: #5e5e5e;
        margin-left: em(73,14);
        width: em(400, 14);
      }
    }
    .bg-paralax{
      font-size: em(287);
      letter-spacing: em(4, 287);
      bottom: auto;
      top: em(20, 287);
      left: em(0, 287);
    }
  }
  .section6{
    padding-top: em(70);
    padding-bottom: em(80);

    .swiper-wrapper{
      align-items: center;
      img{
        opacity: 0.5;
        transition: all .4s ease;
        &:hover{opacity: 1;}
      }

    }
    .swiper-slide{
    }
    .Group  {
      width: em(230);
    }
    .Market24 {
      width: em(217);
    }
    .wowmarket {
      width: em(174);
    }
    .Azzare {
      width: em(75);
    }
    .Bestmebli {
      width: em(199);
    }
    .Velika {
      width: em(179);
    }
  }
}