.home {

  .lin {
    width: em(325);
    height: 1px;
    background-color: #b9b9b9;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      width: em(110);
      height: 3px;
      left: 0;
      background-color: #1b342e;
    }
  }
  .section1 {
    padding-bottom: em(0);
    position: relative;
    height: auto;
    .text-center {
      left: em(0);
      top: em(185);
      margin: 0;
      padding: em(87) em(45) em(60) em(60);
      position: absolute;
      z-index: 5;
      background-color: white;
      .titl {
        font-size: em(70);
        margin-bottom: em(53, 54);
        letter-spacing: em(3, 54);
      }
      p {
        font-size: em(18);
        line-height: em(30, 18);
        color: #5e5e5e;
        width: em(430, 18);
        font-family: MontserratRegular;
      }
      .titl-bg {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: em(-35, 74);
          left: em(-64, 74);
          width: em(272, 74);
          height: em(65, 74);
          background-color: #f8f8fa;
          z-index: -1;
        }
        &:before {
          content: '';
          position: absolute;
          bottom: em(-29, 74);
          left: 0;
          width: em(35, 74);
          height: em(12, 74);
          background-color: #1b342e;
          z-index: -1;
        }
      }
    }
    .img {
      float: right;
      width: em(595);
      height: em(752);
      position: relative;
      overflow: hidden;
      background-image: url("/media/img/bg-pic.png");
      background-size: cover;
      img {
        display: none;
      }
      .s1-pop-up{
        display: none;
      }
      .s1-plus-up {
        display: none;
      }
    }
    .bot-anim {
      display: none;
    }
  }
  .section2 {
    padding-top: em(125);
    padding-bottom: em(60);
    .l-block {
      display: inline-block;
      width: em(568);
      height: em(543);
      margin-left: em(26);
      margin-top: em(52);
      position: relative;
      background-image: url("/media/img/bitmap.png");
      background-size: cover;
      background-position: right;
      img {
       display: none;
      }
      p {
        font-size: em(21);
        top: em(240, 20);
        right: em(15, 20);
        transform: rotate(-90deg);
        width: em(180,21);
        &:before {
          right: em(-140, 20);
          top: em(5, 20);
          height: em(18, 20);
          width: em(3, 20);
        }
      }
    }
    .r-block {
      margin-top: em(0);
      text-align: right;
      margin-right: em(60);
      .titl {
        font-size: em(40);
        letter-spacing: em(5,40);
        &:after {
          content: '';
          position: absolute;
          top: em(-35, 40);
          right: em(-90, 40);
          width: em(259, 40);
          height: em(53, 40);
          background-color: #f8f8fa;
          z-index: -1;
        }
        &:before {
          content: '';
          position: absolute;
          bottom: em(-16, 40);
          right: em(5);
          width: em(25, 40);
          height: em(6, 40);
          background-color: #1b342e;
          z-index: -1;
        }
      }
      ul {
        margin-top: em(145);
      }
      li {
        font-size: em(26);
        padding: 2px;
        margin: em(40, 26) 0;
      }
      .lin {
        margin-top: em(120);
      }
    }
    .bot-block {
      width: em(700);
      height: em(355);
      padding: em(60) em(53) em(60) em(53);
      margin-left: em(58);
      margin-top: em(-30);
      position: relative;
      z-index: 2;
      .bot-text {
        display: none;
        width: 100%;
        height: 100%;
        .titl {    font-size: em(24);     }
        p {
          font-size: em(19);
          margin-top: em(30, 14);
          line-height: em(31, 19);  }

      }
      a {
        font-size: em(21);
        padding: em(22,21) em(37,21);
        bottom: em(-42,21);
        left: em(54,21);
        img {
          width: em(34,21);
          margin-left: em(14,21);
        }
      }
      .activ-s2 {
        display: block
      }
    }
    .bg-paralax{
      font-family: OswaldBold;
      font-size: em(558);
      letter-spacing: em(4, 558);
      color: #f8f8f8;
      opacity: 0.6;
      position: absolute;
      bottom: em(180, 558);
      right: em(-540, 558);
      z-index: -1;
    }
  }
  .section3 {
    padding-top: em(110);
    padding-bottom: em(60);
    .l-block{
      margin-left: em(59);
      .titl{
        font-size: em(40);
        letter-spacing: em(4,40);
        &:after {
          top: em(-30, 40);
          left: em(-70, 40);
          width: em(173, 40);
          height: em(53, 40);
        }
        &:before {
          bottom: em(-18, 40);
          left: 0;
          width: em(25, 40);
          height: em(6, 40);
        }
      }
      ul {
        margin-top: em(147);
        padding-left: 0;
      }
      li {
        font-size: em(26);
        margin: em(38, 26) 0;
      }
      .lin {
        margin-top: em(80);
        margin-left: em(10);
      }
    }
    .r-block{
      width: em(545);
      height: em(545);
      margin-right: em(25);
      margin-top: em(85);
      background-image: url("/media/img/bitmap3.png");
      background-size: cover;
      background-position: right;
      img{display: none}
      .s3-pop-up{ display: none; }
      .s3-plus-up { display: none; }
    }
    .bot-block{
      width: em(725);
      padding: em(60) em(55);
      margin-right: em(60);
      margin-top: em(-35);
      .bot-text {
        display: none;
        width: 100%;
        height: 100%;
        .titl {
          font-size: em(26);
        }
        p {
          font-size: em(18);
          margin-top: em(33, 18);
          line-height: em(32, 18);
        }

      }
      a {
        font-size: em(20);
        margin-right: 0;
        padding: em(21,20) em(75,20);
        bottom: em(-57,20);
        left: em(60,20);
        &:hover{
          color: white;
          background-color: #1b342e;
          box-shadow: -1px em(23) em(33) 0 rgba(29, 32, 108, 0.13);
        }
      }
      .activ-s3 {
        display: block
      }
    }
    .bg-paralax{
      padding: 0;
      font-family: OswaldBold;
      font-size: em(558);
      letter-spacing: em(4, 558);
      color: #f8f8f8;
      opacity: 0.6;
      position: absolute;
      bottom: em(90, 558);
      left: em(-30,558);
      z-index: -1;
    }
  }
  .section4 {
    padding-top: em(95);
    padding-bottom: em(100);
    position: relative;
    .titl{
      font-size: em(40);
      letter-spacing: em(4, 40);
      margin-top: em(25, 40);
      margin-left: em(60,40);
      &:after {
        top: em(-30, 40);
        left: em(-70, 40);
        width: em(215, 40);
        height: em(53, 40);
      }
      &:before {
        bottom: em(-15, 40);
        left: 0;
        width: em(25, 40);
        height: em(6, 40);
      }
    }
    .swiper-sl2{
      margin-top: em(90);
      height: em(615);
      position: relative;
      .sw-w{
        width: em(1335);
        height: 100%;
        background-image: linear-gradient(115deg, #d5ece7, #abd5cb);
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        p{
          font-family: OswaldBold;
          font-size: em(558);
          letter-spacing: em(4, 558);
          color: #f8f8f8;
          opacity: 0.15;
          position: absolute;
          bottom: em(-170, 558);
          left: em(230,558);
          z-index: -1;}
      }
      .center-block{
        padding: em(100) em(80) em(72) em(80);
        position: relative;
        background-color: white;
        top: em(160);
        z-index: 2;
        transition: all .5s ease;
        .photo{
          position: absolute;
          top: em(10);
          right: em(-70);
          transition: all 0.5s ease;
          opacity: 0.7;
          width: em(232);
        }
        .name{
          font-family: MontserratBold;
          font-size: em(26);
          color: #b9b9b9;
          position: relative;
          z-index: 2;
        }
        svg{
          width:em(82);
          height: em(75);
          position: absolute;
          top:em(59);
          left: em(48);
        }
        .position{
          font-family: MontserratRegular;
          font-size: em(22);
          color: #b9b9b9;
          padding: em(9,20) 0 em(14,20) 0;
          max-width: em(235,20);
          line-height: em(26,20);
        }
        p{
          font-size: em(18);
          font-family: MontserratRegular;
          line-height: em(32, 18);
          color: #b9b9b9;
          width: em(522, 18);
        }
        .data{
          font-size: em(16);
          color: #b9b9b9;
          font-family: MontserratRegular;
          margin-top: em(55, 16);
        }
        .plus{
          width: em(55);
          height: em(55);
          display: block;
          border-radius: em(55);
          background-color: #ffffff;
          box-shadow: -1px em(5) em(12) 0 rgba(29, 32, 108, 0.27);
          position: absolute;
          bottom: em(-27);
          left: 50%;
          transform: translate(-50%, 0);
          svg{
            width: em(13);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.5s ease;
            opacity: 0.6;
          }
        }

      }
      .swiper-slide-active{
        .center-block{
          top:em(70);
          .photo{
            opacity: 1;
          }
          .name{color: #1b342e}
          .position{color: #1b342e}
          p{color: #5e5e5e}
          .plus{img{opacity: 1}}
        }
      }
    }
    .swiper-button-next, .swiper-button-prev{
      position: absolute;
      height: em(135);
      width: em(170);
      svg{
        width: em(45);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .swiper-button-next{
      top: auto;
      bottom: em(30);
      left: em(250);
    }
    .swiper-button-prev{
      top: auto;
      bottom: em(30);
      left: em(85);
    }
    .inform-s4{
      display: none;
      position: absolute;
      top:em(800);
      left: em(160);
      z-index: 99;
      background-image: linear-gradient(127deg, #d5ece7, #85c7b7);
      box-shadow: -1px 8px 17px 0 rgba(29, 32, 108, 0.13);
      height: em(400);
      width: em(700);
      .list{
        width: em(530);
        line-height: em(24);
        background-color: white;
        .full-screen{
          width: em(87);
          height: em(87);
          svg{
            width: em(27);
            height: em(27);
          }
        }
      }
    }
    .inform-s4-active{
      display: block;
    }
  }
  .section5 {
    padding-top: em(25);
    padding-bottom: em(37);
    .titl{
      font-size: em(40);
      letter-spacing: em(4,40);
      margin-top: em(80,40);
      margin-left: 0;
      margin-right: em(110,40);
      float: right;
      &:after {
        top: em(-30,40);
        left: em(-75,40);
        width: em(333,40);
        height: em(53,40);
      }
      &:before {
        bottom: em(-18,40);
        left: 0;
        width: em(25,40);
        height: em(6,40);
      }
    }
    #map{
      margin-top: em(790);
      width: 100%;
      height: em(870);
      float: none;
      display: block;
    }
    .l-block{
      left: em(57);
      top: em(290);
      width: em(840);
      z-index: 9;
      padding-bottom: em(85);
      .search{
        width: em(840);
        padding: em(36) em(50) em(30);
        background-color: #ffffff;
        box-shadow: -1px em(8) em(17) 0 rgba(29, 32, 108, 0.13);
        input{
          display: inline-block;
          font-size: em(28);
          color: #b9b9b9;
          line-height: em(26,28);
          border: none;
          width: em(640, 28);
          padding: em(10,28) 0;
        }
        svg{
          margin-top: em(0);
          display: inline-block;
          width: em(32);
          margin-left: em(24);
        }
      }
      .titl-search{
        font-size: em(27);
        font-family: MontserratBold;
        color: #1b342e;
        margin-top: em(157, 27);
        margin-bottom: em(35,27);
        margin-left: em(98,27);
      }
      p{
        font-size: em(18);
        line-height: em(32,18);
        margin-left: em(98,18);
        width: em(580, 18);
      }
      span{
        margin-top: em(74);
      }
    }
    .bg-paralax{
      font-size: em(287);
      letter-spacing: em(4, 287);
      bottom: auto;
      top: em(20, 287);
      left: em(0, 287);
    }
  }
  .section6{
    padding-top: em(80);
    padding-bottom: em(115);

    .swiper-wrapper{
      align-items: center;
      img{
        opacity: 0.5;
        transition: all .4s ease;
        &:hover{opacity: 1;}
      }

    }
    .swiper-slide{
    }
    .Group  {
      width: em(305);
    }
    .Market24 {
      width: em(285);
    }
    .wowmarket {
      width: em(223);
    }
    .Azzare {
      width: em(100);
    }
    .Bestmebli {
      width: em(250);
    }
    .Velika {
      width: em(179);
    }
  }



  .section1{
    .swiper-pagination{
      text-align: left;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets{
      bottom: em(72);
      left: em(90);
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 ;}
    .swiper-pagination-bullet {
      font-size: 22px;
      width: 60px;
      line-height: 20px;
      padding-bottom: 46px;
    }
    .swiper-pagination-bullet-active {
      font-size: 37px;
      padding-bottom: 50px;
    }
  }
}