.open-cooperation_cl {
    .section1-img {
        background-image: url('../img/oc-cl-tab.png');
        background-position: center;
    }

    .section1 {
        &-heading {
            margin-bottom: em(16);
        }
        &-text {
            margin-bottom: em(49);
        }
        &-bg-text {
            right: em(-6.7);
        }
    }
}