@import "base/mixins";
@import "base/variables";
@import "base/normilize";
@import "base/helpers";
@import "base/base";
@import "base/fonts";
@import "parts/media";
@import "libs/swiper";
@import "libs/slick";
@import "libs/slick-theme";

@import "parts/header";
@import "parts/footer";

@import "parts/home";
@import "parts/opencooperation";
@import "parts/opencooperationcl";
@import "parts/opencooperationdil";
@import "parts/opencooperationdis";
@import "parts/error";
@import "parts/card";
@import "parts/contacts";
@import "parts/opengraph";
@import "parts/category";
@import "parts/category-plus";


.tablet{
  @import "tablet/header";
  @import "tablet/footer";

  @import "tablet/page/home";
  @import "tablet/page/opencooperation";
  @import "tablet/page/opencooperationcl";
  @import "tablet/page/opencooperationdil";
  @import "tablet/page/opencooperationdis";
  @import "tablet/page/error";
  @import "tablet/page/card";
  @import "tablet/page/contacts";
  @import "tablet/page/category-plus";
  @import "tablet/page/category";
}

.mobile{
  @import "mobile/header";
  @import "mobile/footer";

  @import "mobile/page/home";
  @import "mobile/page/opencooperation";
  @import "mobile/page/opencooperationcl";
  @import "mobile/page/opencooperationdil";
  @import "mobile/page/opencooperationdis";
  @import "mobile/page/error";
  @import "mobile/page/card";
  @import "mobile/page/contacts";
  @import "mobile/page/category";
  @import "mobile/page/category-plus";
}




