.footer{
  .l-block{
    margin-top: em(75);
    margin-left: em(285);
    .social{
      li{
        display: inline-block;
        transition: all .3s ease;
        position: relative;
        vertical-align: middle;
        padding: 0 em(35);
        a img{
          width: em(35);
        }
        &:hover{
          opacity: .7;
        }
      }
      .facebook{
        a img{width: em(15)}
      }
      li:first-child{
        padding-left: 0;
      }
    }
    .titl{
      font-size: em(26);
      margin-top: em(63, 26);
    }
    p{
      font-size: em(21);
      margin-top: em(27,21);
    }
    .email{
      margin-top: em(73);
      input{
        font-size: em(21);
        line-height: em(39,21);
        padding-right: em(30,21);
        width: em(450,21);
      }
      img{
        width: em(15);
        display: inline-block;
        margin-left: em(-20);
      }
    }
  }
  .r-block{
    margin-left: em(290);
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-top: 0;
    padding-top: em(195);
    ul{
      margin-left: em(120);
    }
    ul:first-child{
      margin-left: 0;}
    li{
      font-size: em(21);
      list-style-type: none;
      color: #333333;
      font-family: MontserratBold;
      margin: em(38,21) 0;}
    li:first-child{margin-top: 0}
    .contakt{
      text-align: center;
      position: absolute;
      display: block;
      margin: 0;
      padding: 0;
      top: em(73);
      left: em(100);
      li{
        font-size: em(21);
        color: #1b342e;
        margin: em(20,21) 0;
      }
      li:first-child{margin-top: 0}
    }
    .logo{
      display: none;
    }
  }
  .bot-inf{
    margin-top: em(10);
    text-align: center;
    .year, .maid{
      font-size: em(18);
      padding: em(38,18) 0;
    }
    .year{margin-left: 0; margin-right: em(32,18); color: #1b342e}
    .maid{margin-right: 0;margin-left: em(32,18); float: none;}
  }
}