.card {
  padding-top: em(18);
  position: relative;
  overflow: hidden;
  .breadcrumbs {
    &-wrapper {
      margin-bottom: em(66);
      padding-left: em(277);
    }
    margin: 0;
    padding: 0;
    list-style: none;
    &-item {
      position: relative;
      display: inline-block;
      padding-right: 23px;
      color: #5e5e5e;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 4px;
        transform: translateY(-50%);
        display: block;
        width: 10px;
        height: 12px;
        background-image: url('../img/bc-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &:last-child {
        padding-right: 0;
        &:before {
          display: none;
        }
      }
      & a {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
  .section1{
    padding-top: em(17);
    .slider {
      display: inline-block;
      width: em(669);
      margin-left: em(272);
      position: relative;
      vertical-align: top;
      margin-top: em(35);
      .full-screen, .share{
        width: em(65);
        height: em(65);
        position: absolute;
        left: em(30);
        border-radius:em(3);
        background-color: rgba(94, 94, 94, 0.2);
        transition: all .4s ease;
        svg{
          fill: rgba(255, 255, 255, 0.8);
          width: em(27);
          height: em(27);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }
      .full-screen{
        top: em(30);
        &:hover{
          background-color: rgba(94, 94, 94, 0.7);
          svg{fill: #FFF}
        }
      }
      .share{
        top:em(105);
        &:hover{
          background-color: rgba(94, 94, 94, 0.7);
          svg{fill: #FFF}
        }
      }
      .slider-big {
        .slick-slide {
          height: em(612);
          img {
            height: 100% !important;
          }
        }
        margin-bottom: em(28);
      }
      .slider-litl {
        width: em(550);
        margin-left: em(60);
        .slick-slide {
          .slick-slide {
            height: em(612);
            img {
              height: 100% !important;
            }
          }
          img {
            height: em(100) !important;
          }
        }
        .slick-center{
          img{
            border: solid 2px #58a794;
          }
        }
        .slick-prev {
          font-size: em(16) !important;
          background: url("/media/img/card/play.png");
          transform: rotate(180deg);
          background-size: cover;
          left: em(-44) !important;
          top: 40%;
        }
        .slick-next {
          font-size: em(16) !important;
          background: url("/media/img/card/play.png");
          background-size: cover;
          font-size: em(16) !important;
          right: em(-44) !important;
        }
        .slick-prev:before, .slick-next:before {
          display: none;
        }
      }
    }
    .r-block {
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin-left: em(57);
      width: em(490);
      .pre-titl {
        font-family: MontserratRegular;
        font-size: em(24);
        color: #b9b9b9;
      }
      .titl {
        font-size: em(70);
        font-family: OswaldBold;
        color: #1b342e;
        margin-top: em(25,70);
      }
      .switching-color {
        display: inline-block;
        margin-top: em(46);
        .set {
          display: block;
          p {
            font-family: MontserratMedium;
            color: #b9b9b9;
            display: inline-block;
          }
          .color-name {
            display: none;
            font-family: MontserratMedium;
            color: #1b342e;
            margin-left: em(10);
          }
          .color-name-active {
            display: inline-block
          }
        }
        .colors {
          display: block;
          margin-top: em(22);
          .color-border {
            cursor: pointer;
            display: inline-block;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            border: solid 1px #e6e6e6;
            background-color: white;
            position: relative;
            margin-right: em(12);
            img {
              width: 17px;
              height: 17px;
              position: absolute;
              border-radius: 100%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            &:hover{
              img{
                width: 22px;
                height: 22px;
              }
            }
          }
          .color-border-active {
            border: none;
            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0);
              width: em(7);
              height: em(7);
              background-color: white;
              z-index: 2;
              border-radius: em(7);
            }
            img {
              width: 32px;
              height: 32px;
            }
            &:hover{
              img {
                width: 32px;
                height: 32px;
              }}
          }
        }
      }
      .price {
        display: inline-block;
        position: relative;
        vertical-align: top;
        margin: em(73) 0 0 em(30);
        .big {
          display: inline-block;
          position: relative;
          vertical-align: top;
          font-size: em(48);
          font-family: OswaldBold;
          letter-spacing: em(4, 48);
          color: #1a332d;
        }
        .litl {
          position: relative;
          vertical-align: top;
          display: inline-block;
          font-family: OswaldBold;
          font-size: em(18);
          color: #1a332d;
          &:before {
            content: '';
            position: absolute;
            bottom: em(-4, 18);
            left: 0;
            right: 0;
            width: em(25, 18);
            height: em(3, 18);
            background-color: #1a332d;
          }
        }
      }
      .s1-btn {
        display: block;
        max-width: em(200);
        font-family: MontserratBold;
        color: white;
        background-color: #1b342e;
        box-shadow: -1px em(17) em(17) 0 rgba(29, 32, 108, 0.13);
        padding: em(16) em(52);
        margin-top: em(50);
        cursor: pointer;
        transition: all .4s ease;
        &:hover{
          background-color: #58a794;
          box-shadow: -1px em(25) em(25) 0 rgba(29, 32, 108, 0.13);
        }
      }
      .mob{display: none}
      .characteristics {
        border-bottom: 1px solid #b9b9b9;
        margin-top: em(59);

        .titl-char{
          font-size: em(24);
          font-family: MontserratBold;
          color: #1b342e;
          margin-bottom: em(28,24);
        }
        ul{
          padding: 0;
          display: inline-block;
          position: relative;
          vertical-align: top;
          margin-bottom: 0;
        }
        .r-ul{float: right;margin-right: em(25)}
        li{
          list-style-type: none;
          display: block;
          p{
            display: block;
            font-family: MontserratBold;
            color: #1b342e;
            margin-bottom: em(50);
          }
          span{
            display: block;
            font-family: MontserratMedium;
            color: #5e5e5e;
            margin-top: em(17);
          }
        }
      }
    }
  }

  .section2{
    padding-top: em(43);
    padding-bottom: em(125);
    z-index: 1;
    position: relative;
    display: block;
    .l-block{
      margin-left: em(270);
      display: inline-block;
      position: relative;
      vertical-align: top;
      opacity: 0;
      transition: all .5s ease;
      height: 1px;
      .titl{
        font-size: em(24);
        font-family: MontserratBold;
        color: #1b342e;
      }
      .img-gamma{
        margin-top: em(63);
        width: em(670);
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 20px;
        ul{
          display: block;
          padding-left: 0;
        }
        ul:first-child{margin-bottom: em(32)}
        li{
          list-style-type: none;
          display: inline-block;
          width: em(316);
          img{width: 100%}
        }
        li:first-child{margin-right: em(32)}
      }
      .l-bottom{
        margin-top: em(76);
        .titl-bot{
          font-size: em(24);
          line-height: em(28,24);
          font-family: MontserratBold;
          color: #1b342e;
          width: em(370,24);
        }
        ul{
          padding-left: em(5);
          margin-top: em(65);
          li{
            list-style-type: none;
            display: block;
            width: em(490);
            border-bottom: 1px solid #b9b9b9;
            padding-bottom: em(60);
            margin-top: em(60);
            img{
              display: inline-block;
              width: em(74);
              position: relative;
              vertical-align: middle;
            }
            p{
              display: inline-block;
              font-family: MontserratRegular;
              font-size: em(14);
              line-height: em(24,14);
              color: #333333;
              width: em(300,14);
              margin-left: em(53,14);
              position: relative;
              vertical-align: middle;
            }
          }
          li:first-child{margin-top: 0}
        }
      }
    }
    .r-block{
      position: relative;
      vertical-align: top;
      width: em(490);
      display: inline-block;
      margin-left: em(57);
      .titl{
        font-family: MontserratBold;
        font-size: em(24);
        color: #1b342e;
      }
      .text{
        margin-top: em(44);
        height: em(125);
        overflow: hidden;
        position: relative;
        transition: height .4s ease;
        &:before{
          content: '';
          position: absolute;
          bottom: em(-20);
          left: 0;
          right: 0;
          background: linear-gradient(to top, white, transparent);
          height: em(70);
        }
        p{
          font-size: em(14);
          line-height: em(30,14);
          color: #333333;
          font-family: MontserratRegular;
          margin-bottom: em(10);
          letter-spacing: 1px;
        }
      }
      .button{
        display: block;
        color: white;
        font-family: MontserratBold;
        margin-top: em(50);
        .description{
          background-color: #58a794;
          padding: em(15) em(38);
          margin-right: 18px;
          cursor: pointer;
          transition: all .4s ease;
          box-shadow: -1px em(8) em(17) 0 rgba(29, 32, 108, 0.13);
          &:hover{
            background-color: #1b342e;
            box-shadow: -1px em(25) em(25) 0 rgba(29, 32, 108, 0.13);
          }
        }
        .buy{
          background-color: #1b342e;
          padding: em(14) em(52);
          cursor: pointer;
          opacity: 0;
          transition: all .4s ease;
          box-shadow: -1px em(8) em(17) 0 rgba(29, 32, 108, 0.13);
          &:hover{
            background-color: #58a794;
            box-shadow: -1px em(25) em(25) 0 rgba(29, 32, 108, 0.13);
          }
        }
        .read{display: inline-block}
        .hide{display: none}
      }
      .r-bottom{
        margin-top: em(79);
        .titl-bot{
          font-family: MontserratBold;
          font-size: em(24);
          color: #1b342e;
          line-height: em(28,24);
          width: em(350,24);
        }
        .partner{
          margin-top: em(38);
          p{
            font-size: em(14);
            line-height: em(28,14);
            font-family: MontserratRegular;
            color: #333333;
            margin-bottom: em(20,14);
          }
          a{
            font-size: em(14);
            line-height: em(22,14);
            font-family: MontserratBold;
            color: #1b342e;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
  .cart-open{
    .l-block{ opacity: 1; height: auto}
    .r-block{
      .text{
        height:auto;
        &:before{display: none}}
      .button{
        .buy{opacity: 1}
        .read{display: none}
        .hide{display: inline-block}
      }
    }
  }
  .mob-s2{display: none}
  .bg-card{
    position: absolute;
    bottom: em(-80,558);
    font-size: em(558);
    left: 0;
    letter-spacing: em(4,558);
    font-family: OswaldBold;
    color: rgba(29, 32, 108, 0.03);
    display: block;
    white-space: nowrap;
  }
}