.footer{
  border-top: 1px solid #b9b9b9;
  .l-block{
    margin-top: em(59);
    display: inline-block;
    position: relative;
    margin-left: em(270);
    .social{
      padding-left: 0;
      li{
        display: inline-block;
        transition: all .3s ease;
        position: relative;
        vertical-align: middle;
        padding: 0 em(26);
        a svg{
          width: em(26);
          fill: #1B342E;
          transition: all .3s ease;
        }
        &:hover{
          a svg{fill: #58A794}
        }
      }
      //.twit{
      //  a svg{fill: #58A794}
      //}
      .facebook{
        a svg{width: em(13)}
      }
      li:first-child{
        padding-left: 0;
      }
    }
    .titl{
      font-size: em(28);
      font-family: MontserratBold;
      color: #1b342e;
      margin-top: em(20);
    }
    p{
      font-family: MontserratRegular;
      margin-top: em(14);
      color: #5e5e5e;
    }
    .email{
      margin-top: em(45);
      input{
        font-size: em(20);
        font-family: MontserratRegular;
        line-height: em(26,20);
        color: #b9b9b9;
        padding-right: em(30,20);
        border: none;
        width: em(348,20);
        border-bottom: 1px solid #b9b9b9;
        display: inline-block;
        padding-bottom: em(10,20);
        &:focus{border-bottom: 1px solid #1B342E;}
      }
      svg{
        width: em(11);
        display: inline-block;
        margin-left: em(-20);
        fill: #1B342E;
      }
    }
  }
  .r-block{
    margin-left: em(125);
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-top: em(120);
    ul{
      display: inline-block;
      padding-left: 0;
      margin-left: em(90);
      position: relative;
      vertical-align: top;
    }
    ul:first-child{
      margin-left: 0;}
    li{
      list-style-type: none;
      color: #333333;
      font-family: MontserratBold;
      margin: em(28) 0;
      cursor: pointer;
      position: relative;
      a{position: relative}
      a:after{
        display: block;
        content: "";
        height: em(2);
        width: 0%;
        background-color: #1b342e;
        position: absolute;
        right: 0;
        bottom: -4px;
        transition: width .2s ease-in-out;
      }}
    li:hover a:after,
    li:focus a:after{
      width: 100%;
      right: auto;
      left: 0;
    }
    li:first-child{margin-top: 0}
    .contakt{
      position: relative;
      vertical-align: top;
      li{
        font-size: em(18);
        color: #1b342e;
        margin: em(20,18) 0;
      }
      li:first-child{margin-top: 0}
    }
    .logo{
      width: em(94);
      display: inline-block;
      margin-left: em(123);
      position: relative;
      vertical-align: top;
      margin-top: em(12);
      svg{width: 100%; fill: #1B342E}
    }
  }
  .bot-inf{
    display: block;
    margin-top: em(74);
    border-top: 1px solid #b9b9b9;
    .year, .maid{
      font-family: MontserratRegular;
      color: #1b342e;
      padding: em(28) 0;
      display: inline-block;
      span{text-decoration: underline}
    }
    .year{margin-left: em(270);}
    .maid{margin-right: em(270); float: right;}
  }
}