.home {
  .lin {
    width: em(312);
    height: 1px;
    background-color: #b9b9b9;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      width: em(104);
      height: 3px;
      left: 0;
      background-color: #1b342e;
    }
  }
  .section1 {
    padding-bottom: em(100);
    height: 100vh;
    position: relative;
    .swiper-sl1{
    }
    .text-center {
      margin-left: em(270);
      margin-top: em(234);
      display: inline-block;
      .titl {
        color: #1b342e;
        font-size: em(74);
        font-family: OswaldBold;
        cursor: pointer;
        margin-bottom: em(55, 74);
        letter-spacing: em(4, 74);
      }
      p {
        font-size: em(18);
        line-height: em(30, 18);
        color: #5e5e5e;
        width: em(435, 18);
        font-family: MontserratRegular;
      }
      .titl-bg {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: em(-35, 74);
          left: em(-64, 74);
          width: em(272, 74);
          height: em(65, 74);
          background-color: #f8f8fa;
          z-index: -1;
        }
        &:before {
          content: '';
          position: absolute;
          bottom: em(-29, 74);
          left: 0;
          width: em(35, 74);
          height: em(12, 74);
          background-color: #1b342e;
          z-index: -1;
        }
      }
    }
    .img {
      float: right;
      width: em(895);
      height: 100%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      .s1-pop-up {
        color: #1b342e;
        font-family: MontserratBold;
        background-color: white;
        padding: em(24) em(32);
        position: absolute;
        top: em(335);
        left: em(150);
        box-shadow: -1px em(10) em(42) 0 rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: opacity .5s;
      }
      .s1-pop-up-show {
        opacity: 1
      }
      .s1-plus-up {
        position: absolute;
        top: em(405);
        left: em(117);
        width: em(42);
        height: em(42);
        box-shadow: -1px em(14) em(59) 0 rgba(0, 0, 0, 0.1);
        border: dotted 3px #ffffff;
        border-radius: em(45);
        cursor: pointer;
        &:hover {
          opacity: .8;
        }
        .img-w {
          width: em(20);
          height: em(20);
          border-radius: em(20);
          background-color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          .img {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            svg {
              width: 8px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0);
              fill: #1B342E;
            }
          }
          .s1-minus-img {
            display: none
          }
        }
      }
      .s1-plus-up-show {
        .img-w {
          .s1-plus-img {
            display: none
          }
          .s1-minus-img {
            display: block
          }
        }
      }
    }
    .bot-anim {
      position: absolute;
      display: block;
      left: em(270);
      bottom: em(170);
      z-index: 9;
      height: em(73);
      p {
        font-size: em(18);
        font-family: MontserratBold;
        color: #1b342e;
      }
      .mous {
        width: 26px;
        height: 35px;
        margin-top: 15px;
        border: 2px solid #000;
        position: relative;
        border-radius: 14px;
        span{
          width: 5px;
          height: 5px;
          position: absolute;
          top: 3px;
          left: 9px;
          background-color: black;
          border-radius: 100%;
          z-index: 4;
        }
      }
    }
    .bot-anim .mous span {
      animation-name: example;
      animation-duration: .7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    @keyframes example {
      0% {
        margin-top: em(2);
        opacity: 1;
      }
      100% {
        margin-top: em(18);
        opacity: 0;
      }
    }
  }
  .section2 {
    padding-top: em(75);
    position: relative;
    overflow: hidden;
    padding-bottom: em(80);
    .l-block {
      display: inline-block;
      width: em(823);
      margin-left: em(76);
      position: relative;
      img {
        width: 100%;
        display: none;
      }
      p {
        font-size: em(26);
        font-family: MontserratBold;
        color: white;
        position: absolute;
        top: em(320, 26);
        right: em(27, 26);
        transform: rotate(-90deg);
        display: none;
        width: em(210,26);
        &:before {
          content: '';
          position: absolute;
          right: em(-190, 26);
          top: em(5, 26);
          height: em(22, 26);
          width: em(3, 26);
          background-color: white;
        }
      }
    }
    .l-command{
      .s2-comm-img, .s2-comm-p{display: block}
    }
    .l-history{
      .s2-hist-img, .s2-hist-p{display: block}
    }
    .l-achievements{
      .s2-achiev-img, .s2-achiev-p{display: block}
    }
    .r-block {
      margin-top: em(95);
      text-align: right;
      margin-right: em(270);
      display: inline-block;
      float: right;
      .titl {
        font-size: em(44);
        font-family: OswaldBold;
        letter-spacing: em(4, 44);
        color: #1b342e;
        position: relative;
        z-index: 2;
        &:after {
          content: '';
          position: absolute;
          top: em(-35, 44);
          right: em(-90, 44);
          width: em(259, 44);
          height: em(53, 44);
          background-color: #f8f8fa;
          z-index: -1;
        }
        &:before {
          content: '';
          position: absolute;
          bottom: em(-18, 44);
          right: 0;
          width: em(25, 44);
          height: em(6, 44);
          background-color: #1b342e;
          z-index: -1;
        }
      }
      ul {
        margin-top: em(170);
      }
      li {
        font-size: em(28);
        list-style-type: none;
        font-family: MontserratRegular;
        padding: 2px;
        margin: em(32, 28) 0;
        color: #b9b9b9;
        position: relative;
        cursor: pointer;
        a:after {
          display: inline-block;
          content: "";
          height: em(2, 28);
          background-color: #b9b9b9;
          width: 0;
          vertical-align: top;
          position: relative;
          margin: em(13, 28) 0 0 em(17, 28);
          transition: width .2s ease-in-out;
        }
        &:hover a:after,
        &:focus a:after {
          width: em(55, 28);
        }
      }
      .activ-s2-b {
        color: #1b342e;
        font-family: MontserratBold;
        a:after {
          width: em(55, 28);
          background-color: #1b342e;
        }
      }
      .lin {
        margin-top: em(110);
        margin-right: em(25);
      }
    }
    .bot-block {
      width: em(630);
      height: em(330);
      background-color: white;
      padding: em(40) em(38);
      margin-left: em(470);
      margin-top: em(-122);
      position: relative;
      z-index: 2;
      .bot-text {
        display: none;
        width: 100%;
        height: 100%;
        .titl {
          font-size: em(24);
          font-family: MontserratBold;
          color: #1b342e;

        }
        p {
          font-family: MontserratRegular;
          font-size: em(14);
          color: #5e5e5e;
          line-height: em(22, 14);
          margin-top: em(25, 14);
          line-height: em(24, 14);
        }
      }
      a {
        font-family: MontserratBold;
        margin-right: em(12);
        padding: em(16) em(25);
        background-color: #ffffff;
        box-shadow: -1px em(5) em(12) 0 rgba(29, 32, 108, 0.27);
        position: absolute;
        bottom: em(40);
        left: em(40);
        color: #1b342e;
        transition: all .4s ease;
        svg {
          width: em(28);
          margin-left: em(10);
          fill: #000;
          padding-top: em(2);
          transition: all .4s ease;
        }
        &:hover {
          color: white;
          background-color: #1b342e;
          box-shadow: -1px em(23) em(33) 0 rgba(29, 32, 108, 0.13);
          svg {
            fill: white;
          }
        }
      }
      .activ-s2 {
        display: block
      }
    }
    .bg-paralax {
      font-family: OswaldBold;
      font-size: em(558);
      letter-spacing: em(4, 558);
      color: #f8f8f8;
      opacity: 0.6;
      position: absolute;
      bottom: em(180, 558);
      right: em(-540, 558);
      z-index: -1;
    }
  }
  .section3 {
    padding-top: em(20);
    padding-bottom: em(80);
    position: relative;
    overflow: hidden;
    .l-block {
      display: inline-block;
      margin-left: em(270);
      .titl {
        font-size: em(44);
        font-family: OswaldBold;
        color: #1b342e;
        letter-spacing: em(4, 44);
        margin-top: em(25, 44);
        position: relative;
        z-index: 2;
        &:after {
          content: '';
          position: absolute;
          top: em(-30, 44);
          left: em(-70, 44);
          width: em(173, 44);
          height: em(53, 44);
          background-color: #f8f8fa;
          z-index: -1;
        }
        &:before {
          content: '';
          position: absolute;
          bottom: em(-18, 44);
          left: 0;
          width: em(25, 44);
          height: em(6, 44);
          background-color: #1b342e;
          z-index: -1;
        }
      }
      ul {
        margin-top: em(135);
        padding-left: 0;
      }
      li {
        font-size: em(28);
        list-style-type: none;
        font-family: MontserratRegular;
        padding: 2px;
        margin: em(32, 28) 0;
        color: #b9b9b9;
        cursor: pointer;
        a:before {
          display: inline-block;
          content: "";
          height: em(2, 28);
          background-color: #b9b9b9;
          width: 0;
          vertical-align: top;
          position: relative;
          margin: em(13, 28) em(17, 28) 0 0;
          transition: width .2s ease-in-out;
        }
        &:hover a:before,
        &:focus a:before {
          width: em(55, 28);
        }
      }
      .activ-s3-b {
        color: #1b342e;
        font-family: MontserratBold;
        a:before {
          width: em(55, 28);
          background-color: #1b342e;
        }
      }
      .lin {
        margin-top: em(105);
      }
    }
    .r-block {
      display: inline-block;
      float: right;
      width: em(839);
      margin-right: em(77);
      position: relative;
      img {
        display: none;
      }
      .activ-s3-img{
        display: block;
      }
      .s3-pop-up {
        color: #1b342e;
        font-family: MontserratBold;
        background-color: white;
        padding: em(24) em(32);
        position: absolute;
        top: em(270);
        left: em(-30);
        box-shadow: -1px em(10) em(42) 0 rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: opacity .5s;
        display: none;
      }
      .up-active-s3{display: block}
      .s3-pop-up-show {
        opacity: 1
      }
      .s3-plus-up {
        position: absolute;
        top: em(330);
        left: em(212);
        width: em(42);
        height: em(42);
        box-shadow: -1px em(14) em(59) 0 rgba(0, 0, 0, 0.1);
        border: dotted 3px #ffffff;
        border-radius: em(45);
        cursor: pointer;
        &:hover {
          opacity: .8;
        }
        .img-s3 {
          width: em(20);
          height: em(20);
          border-radius: em(20);
          background-color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          .img {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            svg {
              width: 8px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0);
              fill: #1B342E;
            }
          }
          .s3-minus-img {
            display: none
          }
        }
      }
      .s3-plus-up-show {
        .img-s3 {
          .s3-plus-img {
            display: none
          }
          .s3-minus-img {
            display: block
          }
        }
      }
    }
    .bot-block {
      width: em(630);
      height: em(300);
      background-color: white;
      padding: em(40) em(38);
      float: right;
      margin-right: em(470);
      margin-top: em(-162);
      position: relative;
      z-index: 2;
      .bot-text {
        display: none;
        width: 100%;
        height: 100%;
        .titl {
          font-size: em(24);
          font-family: MontserratBold;
          color: #1b342e;

        }
        p {
          font-family: MontserratRegular;
          font-size: em(14);
          color: #5e5e5e;
          line-height: em(22, 14);
          margin-top: em(25, 14);
          line-height: em(24, 14);
        }

      }
      a {
        font-family: MontserratBold;
        color: #1b342e;
        margin-right: em(12);
        padding: em(16) em(55);
        background-color: #ffffff;
        box-shadow: -1px em(5) em(12) 0 rgba(29, 32, 108, 0.27);
        position: absolute;
        bottom: em(40);
        left: em(40);
        color: #1b342e;
        transition: all .4s ease;
        cursor: pointer;
        &:hover {
          color: white;
          background-color: #1b342e;
          box-shadow: -1px em(23) em(33) 0 rgba(29, 32, 108, 0.13);
        }
      }
      .activ-s3 {
        display: block
      }
    }
    .bg-paralax {
      padding: 0;
      font-family: OswaldBold;
      font-size: em(558);
      letter-spacing: em(4, 558);
      color: #f8f8f8;
      opacity: 0.6;
      position: absolute;
      bottom: em(90, 558);
      left: em(-30, 558);
      z-index: -1;
    }
  }
  .section4 {
    padding-top: em(20);
    padding-bottom: em(120);
    position: relative;
    .titl {
      font-size: em(44);
      font-family: OswaldBold;
      color: #1b342e;
      letter-spacing: em(4, 44);
      margin-top: em(25, 44);
      margin-left: em(270, 44);
      position: relative;
      z-index: 2;
      &:after {
        content: '';
        position: absolute;
        top: em(-30, 44);
        left: em(-70, 44);
        width: em(215, 44);
        height: em(53, 44);
        background-color: #f8f8fa;
        z-index: -1;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: em(-18, 44);
        left: 0;
        width: em(25, 44);
        height: em(6, 44);
        background-color: #1b342e;
        z-index: -1;
      }
    }
    .swiper-sl2 {
      margin-top: em(100);
      height: em(715);
      position: relative;
      .sw-w {
        width: em(1335);
        height: 100%;
        background-image: linear-gradient(115deg, #d5ece7, #abd5cb);
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        p {
          font-family: OswaldBold;
          font-size: em(558);
          letter-spacing: em(4, 558);
          color: #f8f8f8;
          opacity: 0.15;
          position: absolute;
          bottom: em(-170, 558);
          left: em(230, 558);
          z-index: -1;
        }
      }
      .center-block {
        padding: em(114) em(80) em(72) em(80);
        position: relative;
        background-color: white;
        top: em(162);
        z-index: 2;
        transition: all 1.5s ease;
        .photo {
          position: absolute;
          top: em(17);
          right: em(-70);
          transition: all 0.5s ease;
          opacity: 0.7;
          width: em(232);
        }
        .name {
          font-family: MontserratBold;
          font-size: em(24);
          color: #b9b9b9;
          position: relative;
          z-index: 2;
        }
        svg {
          width: em(82);
          height: em(75);
          position: absolute;
          top: em(59);
          left: em(48);
        }
        .position {
          font-family: MontserratRegular;
          font-size: em(20);
          color: #b9b9b9;
          padding: em(9, 20) 0 em(14, 20) 0;
          max-width: em(235, 20);
          line-height: em(26, 20);
        }
        p {
          font-size: em(14);
          font-family: MontserratRegular;
          line-height: em(24, 14);
          color: #b9b9b9;
          width: em(392, 14);
        }
        .data {
          font-size: em(14);
          color: #b9b9b9;
          font-family: MontserratRegular;
          margin-top: em(50, 14);
        }
        .plus{
          width: em(55);
          height: em(55);
          display: block;
          border-radius: em(55);
          background-color: #ffffff;
          box-shadow: -1px em(5) em(12) 0 rgba(29, 32, 108, 0.27);
          position: absolute;
          bottom: em(-27);
          left: 50%;
          transform: translate(-50%, 0);
          svg {
            width: em(13);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.5s ease;
            opacity: 0.6;
            fill: #1B342E;
          }
          .m{display: none}
        }
      }
      .swiper-slide-active {
        .center-block {
          top: em(92);
          .photo {
            opacity: 1;
          }
          .name {
            color: #1b342e
          }
          .position {
            color: #1b342e
          }
          p {
            color: #5e5e5e
          }
          .plus {
            svg {
              opacity: 1
            }
          }
          .active-plus{
            .p{display: none}
            .m{display: block}
            .swiper-button-next, .swiper-button-prev{display: none}
          }
        }
      }
    }
    .swiper-button-next, .swiper-button-prev {
      position: absolute;
      height: em(135);
      width: em(130);
      z-index: 2;
      background: url("");
      background-color: white;
      svg {
        width: em(36);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #1B342E;
      }
    }
    .swiper-button-next {
      top: auto;
      bottom: em(40);
      left: em(600);

      p {
        font-size: em(14);
        font-family: MontserratRegular;
        line-height: em(24, 14);
        color: #b9b9b9;
        width: em(392, 14);
      }
    }
    .swiper-button-prev {
      top: auto;
      bottom: em(40);
      left: em(472);
      &:before {
        content: '';
        position: absolute;
        right: 1px;
        bottom: em(30);
        width: 1px;
        height: em(69);
        background-color: #b9b9b9;
      }
    }

    .inform-s4{
      display: none;
      position: absolute;
      top:em(740);
      left: em(670);
      z-index: 99;
      background-image: linear-gradient(127deg, #d5ece7, #85c7b7);
      box-shadow: -1px 8px 17px 0 rgba(29, 32, 108, 0.13);
      height: em(400);
      width: em(570);
      padding: em(80) 0 em(40) 0!important;
      text-align: center;
      .scrollbar{
        height: 100%;
        overflow-y: scroll;
        width: 90%;
        background-color: transparent;
        margin-left: 5%;
      }
      .list{
        margin: 0 auto ;
        display: inline-block;
        width: em(420);
        background-color: white;
        padding: em(0);
        box-shadow: -1px 10px 42px 0 rgba(0, 0, 0, 0.1);
        .scan{
          width: 100%;
          img{width: 100%}
        }
      }
      .full-screen{
        width: em(65);
        height: em(65);
        position: absolute;
        top: em(30);
        left: em(30);
        border-radius:em(3);
        background-color: rgba(94, 94, 94, 0.2);
        transition: all .4s ease;
        svg{
          fill: rgba(255, 255, 255, 0.8);
          width: em(27);
          height: em(27);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
        &:hover{
          background-color: rgba(94, 94, 94, 0.7);
          svg{fill: #FFF}
        }
      }
    }
    .inform-s4-active{
      display: block;
    }

    ///scrin
    .scrollbar{
    }
    .force-overflow{

    }
    .scroll-s4::-webkit-scrollbar{
      width: 8px;
      border-radius: 7px;
      background-color: rgba(248, 248, 248, 0.3);
    }
    .scroll-s4::-webkit-scrollbar-thumb{
      border-radius: 7px;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: inset 0 0 2px 0 #b9b9b9;
    }
    .scroll-s4::-webkit-scrollbar-track{
      background-color: rgba(248, 248, 248, 0.33);
    }

  }
  .section5 {
    padding-top: em(40);
    position: relative;
    padding-bottom: em(50);
    overflow: hidden;
    .titl {
      font-size: em(44);
      font-family: OswaldBold;
      color: #1b342e;
      letter-spacing: em(4, 44);
      margin-top: em(80, 44);
      margin-left: em(270, 44);
      position: relative;
      z-index: 2;
      &:after {
        content: '';
        position: absolute;
        top: em(-30, 44);
        left: em(-75, 44);
        width: em(333, 44);
        height: em(53, 44);
        background-color: #f8f8fa;
        z-index: -1;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: em(-18, 44);
        left: 0;
        width: em(25, 44);
        height: em(6, 44);
        background-color: #1b342e;
        z-index: -1;
      }
    }
    .map {
      margin-top: em(80);
      width: em(1074);
      height: em(802);
      float: right;
      display: inline-block;
    }
    #map {
      margin-top: em(80);
      width: em(1074);
      height: em(802);
      float: right;
      display: inline-block;
    }
    .l-block {
      background-color: #ffffff;
      position: absolute;
      left: em(350);
      top: em(340);
      width: em(629);
      z-index: 9;
      padding-bottom: em(79);
      .search {
        width: em(629);
        padding: em(18) em(38);
        background-color: #ffffff;
        box-shadow: -1px em(8) em(17) 0 rgba(29, 32, 108, 0.13);
        input {
          display: inline-block;
          font-size: em(20);
          color: #b9b9b9;
          line-height: em(26, 20);
          border: none;
          width: em(470, 20);
          padding: em(10, 20) 0;
          border-bottom: 1px solid #b9b9b9;
          position: relative;
          vertical-align: top;
          &:focus{border-bottom: 1px solid #1B342E;}
        }
        svg {
          margin-top: em(5);
          display: inline-block;
          width: em(25);
          margin-left: em(27);
          fill: #1B342E;
        }
        .svg-activ{
          display: none;
          margin-top: em(5);
          width: em(25);
          margin-left: em(27);
        }
      }
      .search:hover,
      .search:active{
        svg{display: none}
        .svg-activ{display: inline-block}
      }
      .titl-search {
        font-size: em(24);
        font-family: MontserratBold;
        color: #1b342e;
        margin-top: em(117, 24);
        margin-bottom: em(20, 24);
        margin-left: em(73, 24);
      }
      p {
        font-family: MontserratRegular;
        font-size: em(14);
        line-height: em(24, 14);
        color: #5e5e5e;
        margin-left: em(73, 14);
        width: em(360, 14);
      }
      span {
        display: block;
        width: 100%;
        height: 1px;
        margin-top: em(46);
        background-color: #b9b9b9;
      }
      .activ-partners{
        display: none;
      }
    }
    .activ-s5{
      .part{display: none}
      .activ-partners{
        display: block;
        padding-top: em(40);
        li{
          list-style-type: none;
          padding: em(20) em(30);

          border-bottom: 1px solid #b9b9b9;
          margin-top: em(10);
          p{
            display: inline-block;
            font-size: em(18);
            font-family: MontserratBold;
            color: #58a794;
            position: relative;
            vertical-align: top;
            width: em(300);
            padding-bottom: em(30,18);
            margin-left: 0;
            span{
              display: block;
              font-size: em(14);
              color: #333333;
              margin-top: em(12,14);
              border: none;
              background-color: white;
            }
          }
          .contact{
            display: inline-block;
            float: right;
            position: relative;
            vertical-align: top;
            a{
              display: block;
              font-family: MontserratRegular;
              font-size: em(14);
              line-height: em(35,14);
              color: #333333;
            }
          }
        }
      }
    }
    .bg-paralax {
      padding: 0;
      font-family: OswaldBold;
      font-size: em(558);
      letter-spacing: em(4, 558);
      color: #f8f8f8;
      opacity: 0.6;
      position: absolute;
      bottom: em(20, 558);
      left: em(0, 558);
      z-index: -1;
    }
  }
  .section6 {
    padding-top: em(80);
    padding-bottom: em(110);

    .swiper-wrapper {
      align-items: center;
      img {
        opacity: 0.5;
        transition: all .4s ease;
        &:hover {
          opacity: 1;
        }
      }

    }
    .swiper-slide {
      text-align: center;
      cursor: pointer;
    }
    .Group {
      width: em(230);
    }
    .Market24 {
      width: em(217);
    }
    .wowmarket {
      width: em(174);
    }
    .Azzare {
      width: em(75);
    }
    .Bestmebli {
      width: em(199);
    }
    .Velika {
      width: em(179);
    }
  }

  .section1 {
    .mob {
      display: none;
    }
    .swiper-pagination {
      text-align: left;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: em(180);
      left: em(800);
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0;
    }
    .swiper-pagination-bullet {
      font-size: 18px;
      width: 80px;
      line-height: 20px;
      letter-spacing: 2px;
      font-family: MontserratRegular;
      text-transform: uppercase;
      //margin: 0 25px;
      padding-bottom: 35px;
      color: #5e5e5e;
      opacity: 1;
      background-color: transparent;
      border-bottom: 1px solid #5e5e5e;
      border-radius: 0;
      text-align: left;
    }
    .swiper-pagination-bullet-active {
      font-family: MontserratBold;
      color: #1b342e;
      font-size: 28px;
      padding-bottom: 39px;
      background-color: transparent;
      border-bottom: 2px solid #1b342e;
    }
    .swiper-scrollbar{
      bottom: em(170);
      left: em(800);
      width: em(330);
      height: 1px;
      background-color: #5e5e5e;
      opacity: 1!important;
    }
    .swiper-scrollbar-drag{
      //width: em(110)!important;
      height: 2px;
      background-color: #1b342e;
    }
  }
}
.disp{display: none}