.open-cooperation_cl {
    .section1-img {
        max-width: 749px;
        background-image: url('../img/oc-cl.png');
        background-position: em(-4) center;
    }

    .section1 {
        &-right {
            margin-bottom: em(117);
        }
        &-title {
            margin-bottom: em(13.5);
        }
        &-heading {
            margin-bottom: em(14);
            line-height: em(18.5);
        }
        &-text {
            margin-bottom: em(50);
        }
        &-bg-text {
            right: em(-2.2);
        }
    }
}