.open-cooperation {
    img {
        max-width: 100%;
        display: block;
        height: auto;
    }
    //section1
    .section1 {
        position: relative;
        display: flex;
        padding-bottom: em(140);
        overflow: hidden;
        &-left {
            max-width: 752px;
            width: 100%;
        }
        &-right {
            width: 60%;
            margin-bottom: em(197);
            padding-top: em(31);
            padding-left: em(82);
        }
        &-title {
            display: inline-block;
            margin-bottom: em(15);
            color: #b9b9b9;
            font-size: em(24);
        }
        &-heading {
            max-width: 494px;
            width: 100%;
            margin-bottom: em(16);
            color: #1b342e;
            font-family: OswaldBold;
            font-size: em(70);
            font-weight: 700;
        }
        &-text {
            max-width: 579px;
            width: 100%;
            margin-bottom: em(51);
            color: #333333;
            font-size: 14px;
            line-height: 28px;
        }
        &-note {
            position: relative;
            max-width: 579px;
            width: 100%;
            margin-bottom: em(60);
            padding-left: em(28);
            color: #333333;
            font-size: 14px;
            line-height: 28px;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 1px;
                height: 100%;
                background: #58A794;
            }
        }
        &-bg-text {
            position: absolute;
            bottom: em(-0.6);
            right: em(-12.5);
            color: rgba(29,32,108,0.03);
            display: inline-block;
            font-family: OswaldBold;
            font-size: em(558);
            font-weight: 700;
            letter-spacing: 4px;
            opacity: 0.6;
            user-select: none;
            text-transform: uppercase;
        }
        &-img {
            max-width: 752px;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    //section1-end
    //btn
    .btn {
        position: relative;
        z-index: 2;
        display: inline-block;
        max-width: 193px;
        width: 100%;
        margin-left: em(-11);
        padding: em(16) em(10);
        background: #1B342E;
        color: #ffffff;
        font-weight: 700;
        box-shadow: -1px 5px 12px 0 rgba(29,32,108,0.27);
        transition: all 0.3s ease;
        text-align: center;
        user-select: none;
        &:hover {
        box-shadow: -1px 23px 33px 0 rgba(29,32,108,0.13);
        }
        &:active {
            background: #33695C;
            box-shadow: -1px 5px 12px 0 rgba(29,32,108,0.27);
        }
    }
    //btn-end
}