.open-cooperation_dil {
    .section1-img {
        background-image: url('../img/oc-dil.png');
        background-position: em(-4) center;
    }
    .section1-bg-text {
        right: em(-5.5);
    }
}