html, body {
  font-family: MullerBold, 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 1;
  background: #fff;
}

input[type="text"] {
  &:focus {
    &::-webkit-input-placeholder {
      opacity: 0;
    }
    &:-moz-placeholder {
      opacity: 0;
    }
    &::-moz-placeholder {
      opacity: 0;
    }
    &:-ms-input-placeholder {
      opacity: 0;
    }
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.container{
  max-width: em(1380);
  margin: 0 auto;
}

button{
  cursor: pointer;
}

a {
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:focus {
    outline: none !important;
  }
  &:hover {
    //text-decoration: underline;
  }
}

.begin-btn{
  font-size: em(14);
  display: block;
  text-align: center;
  letter-spacing: em(3,14);
  width: em(324,14);
  padding: em(24,14);
  text-transform: uppercase;
  color: white;
  background-color: #85714c;
  position: relative;
  &:before,&:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: em(22,14);
    height: 1px;
    background-color: black;
  }
  &:before{
    left: em(-22,14);
  }
  &:after{
    right: em(-22,14);
  }
}


//breadcrumbs
.breadcrumbs {
  &-wrapper {
    margin-bottom: em(66);
    padding-left: em(277);
  }
  margin: 0;
  padding: 0;
  list-style: none;
  &-item {
    position: relative;
    display: inline-block;
    padding-right: 23px;
    color: #5e5e5e;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translateY(-50%);
      display: block;
      width: 10px;
      height: 12px;
      background-image: url('../img/bc-arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &:last-child {
      padding-right: 0;
      &:before {
        display: none;
      }
    }
    & a {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
  }
}
.tablet {
  .breadcrumbs {
    &-wrapper {
      padding-left: em(57);
    }
    &-item {
      padding-right: 24px;
      &:before {
        right: 5px;
        width: 9px;
        height: 10px;
      }
    }
  }
}
.mobile {
  .breadcrumbs {
    display: flex;
    align-items: center;
    &-wrapper {
      margin-bottom: em(60);
      padding-left: em(35);
    }
    &-item {
      padding-right: 22px;
      &:before {
        width: 6px;
        right: 10px;
        right: 6px;
      }
      & a {
        font-size: 12px;
        line-height: 15px;
      }
    }
    &-shortcut {
      padding-right: 22px;
      & a {
        display: block;
        font-size: 0;
        line-height: 0;
        width: 21px;
        height: 11px;
        background-image: url('../img/shortcut-img.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}
//breadcrumbs-end

//filter
.filter {
  .mobile-filter-wrapper {
    display: none;
  }
  .filter-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 em(8);
  }
  .filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .filter-btns {
    margin: 0;
    padding: 0;
  }
  .filter-btns .filter-btn {
    position: relative;
    display: inline-block;
    padding: em(14) 0;
    padding-left: em(26);
    padding-right: em(56);
    color: #1b342e;
    font-size: em(16);
    font-weight: 700;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .filter-btns .filter-btn:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: #d5d5d5;
  }
  .filter-btns .filter-btn_sort:before {
    display: none;
  }
  .filter-btns .filter-btn:after {
    content: '';
    position: absolute;
    right: em(20);
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: em(15);
    height: em(8);
    background-image: url('../img/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.3s ease;
  }
  .filter-btns .filter-btn:hover,.filter-btns .filter-btn.active {
    background: #F8F8F8;
  }

  .filter-btns .filter-btn:hover:after, .filter-btns .filter-btn.active:after {
    background-image: url('../img/arrow-down-hover.svg');
  }
  .filter-items {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    width: em(247);
    margin-top: em(16);
    padding-top: em(16);
    background: #fff;
    box-shadow: -1px 8px 17px 0 rgba(29,32,108,0.13);
  }
  .filter-items ul {
    margin: 0;
    margin-bottom: em(52);
    padding: 0 20px;
    list-style: none;
  }
  .filter-items .filter-item {
    position: relative;
    margin-bottom: em(23);
    color: #1b342e;
    font-size: em(14);
    font-weight: 500;
  }
  .filter-items .filter-item .filter-checkbox {
    position: absolute;
    opacity: 0;
  }
  .filter-items .filter-item label {
    position: relative;
    display: block;
    padding-left: em(34.5);
    cursor: pointer;
  }
  .filter-items .filter-item label:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    width: em(23);
    height: em(23);
    background-color: #ffffff;
    border: 1px solid #1b342e;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  .filter-items .filter-item .filter-checkbox:checked + label:before {
    background-color: none;
    background-image: url('../img/done-ico.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .filter-items .filter-accept {
    display: block;
    width: 100%;
    padding: em(15) 0;
    background: #ffffff;
    font-weight: 700;
    text-align: center;
    border: none;
    outline: none;
    border-top: 1px solid #d5d5d5;
    transition: all 0.3s ease;
  }
  .filter-btns .filter-btn:hover .filter-items {
    z-index: 4;
    visibility: visible;
    opacity: 1;
  }
  .filter-items .filter-accept:hover {
    background: #f8f8f8;
  }
  .filter-result {
    margin: 0;
    margin-bottom: em(46);
    padding: 0 em(8);
  }
  .filter-result .result-item {
    position: relative;
    display: inline-block;
    margin-top: em(36);
    margin-right: em(24);
    padding-right: em(15);
    color: #b9b9b9;
    font-size: em(16);
    font-weight: 700;
    cursor: pointer;
  }
  .filter-result .close-result {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: block;
    width: em(8);
    height: em(8);
    background-image: url('../img/close-result.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
.tablet {
  .filter {
    .filter-btns .filter-btn {
      padding-right: em(53);
      font-size: em(21.5);
    }
    .filter-result {
      margin-bottom: em(82);
    }
  }
}
.mobile {
  .mobile-filter-wrapper {
    display: block;
  }
  .filter-wrapper {
    display: none;
  }
  .filter-result {
    display: none;
  }
}
//filter-end


///////////////////////////////////scroll
.custom-scroll-pretty_container {
  overflow: hidden !important;
  position: relative;
}

.custom-scroll-pretty_inner {
  overflow: scroll;
  height: 100%;
  *position: absolute; /* ie7 fix */
  *left: 0;
  *right: 0;
}
.custom-scroll-pretty_inner::-webkit-scrollbar { width: 0; height: 0; }
.custom-scroll-pretty_inner{ -ms-overflow-style: none; }

.custom-scroll-pretty_bar-y {
  cursor: default;
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  background: #888;
  opacity: .4;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  transition: opacity .2s;
}
.custom-scroll-pretty_bar-y {
  top: 5%;
  right: 18px;
  width: 8px;
  height: 90%;
  opacity: 0.3;
  background-color: #f8f8f8;
}

.custom-scroll-pretty_bar-y:hover {
  opacity: .7;
}
.custom-scroll-pretty_bar-y:active {
  opacity: 1;
}

.custom-scroll-pretty_hidden-y > .custom-scroll-pretty_bar-y{
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s, visibility step-end .3s;
}



/* changes */
.custom-scroll-pretty_bar-y {
  right: 18px;
  border-radius: 4px;
  width: 8px;
}

.custom-scroll-pretty_track-y {
  position: absolute;
  background: #eee;
  border-radius: 5px;
  box-shadow: inset 0 0 4px rgba(0,0,0,.1);
  transition: box-shadow .3s;
}
.custom-scroll-pretty_track-y {
  top: 0;
  right: 0;
  width: 10px;
  bottom: 10px;
}
.custom-scroll-pretty_hidden-x > .custom-scroll-pretty_track-y {
  bottom: 0;
}

.custom-scroll-pretty_track-x {
  bottom: 0;
  left: 0;
  height: 10px;
  right: 10px;
}
.custom-scroll-pretty_hidden-y > .custom-scroll-pretty_track-x {
  right: 0;
}


.custom-scroll-pretty_track-y:hover,
.custom-scroll-pretty_track-x:hover {
  box-shadow: inset 0 0 4px rgba(0,0,0,.2);
}


.custom-scroll-pretty_hidden-y > .custom-scroll-pretty_track-y,
.custom-scroll-pretty_hidden-y > .custom-scroll-pretty_bar-y {
  opacity: 0;
  height: 100%;
  top: 0;
  visibility: hidden;
  transition: opacity .3s, height .3s, top .1s, visibility step-end .3s;
}
.custom-scroll-pretty_hidden-x > .custom-scroll-pretty_track-x,
.custom-scroll-pretty_hidden-x > .custom-scroll-pretty_bar-x {
  opacity: 0;
  width: 100%;
  left: 0;
  visibility: hidden;
  transition: opacity .3s, height .3s, top .1s, visibility step-end .3s;
}