
@font-face {
  font-family: 'MullerBold';
  src: url('/media/fonts/MullerBold.eot');
  src: url('/media/fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
  url('/media/fonts/MullerBold.woff') format('woff'),
  url('/media/fonts/MullerBold.ttf') format('truetype'),
  url('/media/fonts/MullerBold.svg#DINProBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MullerLight';
  src: url('/media/fonts/MullerLight.eot');
  src: url('/media/fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
  url('/media/fonts/MullerLight.woff') format('woff'),
  url('/media/fonts/MullerLight.ttf') format('truetype'),
  url('/media/fonts/MullerLight.svg#DINProBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MullerRegular';
  src: url('/media/fonts/MullerRegular.eot');
  src: url('/media/fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
  url('/media/fonts/MullerRegular.woff') format('woff'),
  url('/media/fonts/MullerRegular.ttf') format('truetype'),
  url('/media/fonts/MullerRegular.svg#DINProBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

