
@font-face {
  font-family: 'MontserratBold';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold.ttf') format('truetype'),
  url('../fonts/Montserrat-Bold.svg#DINProBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratRegular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf') format('truetype'),
  url('../fonts/Montserrat-Regular.svg#DINProBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratMedium';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Medium.woff') format('woff'),
  url('../fonts/Montserrat-Medium.ttf') format('truetype'),
  url('../fonts/Montserrat-Medium.svg#DINProBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OswaldBold';
  src: url('../fonts/OswaldBold.eot');
  src: url('../fonts/OswaldBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OswaldBold.woff') format('woff'),
  url('../fonts/OswaldBold.ttf') format('truetype'),
  url('../fonts/OswaldBold.svg#DINProBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
