.card {
  padding-top: em(35);
  .breadcrumbs {
    display: flex;
    align-items: center;
    &-wrapper {
      margin-bottom: em(60);
      padding-left: em(35);
    }
    &-item {
      padding-right: 22px;
      &:before {
        width: 6px;
        right: 10px;
        right: 6px;
      }
      & a {
        font-size: 12px;
        line-height: 15px;
      }
    }
    &-shortcut {
      padding-right: 22px;
      & a {
        display: block;
        font-size: 0;
        line-height: 0;
        width: 21px;
        height: 11px;
        background-image: url('../img/shortcut-img.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    .mob{display: none}
  }
  .section1{
    padding-top: 0;
    .slider {
      width: 100%;
      margin-left: 0;
      margin-top: em(0);
      .full-screen, .share{
        width: em(87);
        height: em(87);
        left: em(30);
        border-radius:em(3);
        background-color: rgba(94, 94, 94, 0.2);
        transition: all .4s ease;
        svg{
          fill: rgba(255, 255, 255, 0.8);
          width: em(27);
          height: em(27);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }
      .share{display: none}
      .full-screen{
        top: em(30);
        &:hover{
          background-color: rgba(94, 94, 94, 0.7);
          svg{fill: #FFF}
        }
      }
      .share{
        top:em(125);
        &:hover{
          background-color: rgba(94, 94, 94, 0.7);
          svg{fill: #FFF}
        }
      }
      .slider-big {
        .slick-slide {
          height: em(690);
          img {
            height: 100% !important;
          }
        }
        margin-bottom: em(13);
      }
      .slider-litl {
        width: em(600);
        margin-left: em(80);
        .slick-slide {
          .slick-slide {
            height: em(612);
            img {
              height: 100% !important;
            }
          }
          img {
            height: em(130) !important;
          }
        }
        .slick-prev {
          font-size: em(16) !important;
          background: url("/media/img/card/play.png");
          background-size: 100% ;
          transform: rotate(180deg);
          width: em(25);
          height: em(25);
          top: 40%;
          left: em(-50) !important;
        }
        .slick-next {
          background: url("/media/img/card/play.png");
          background-size: 100% ;
          font-size: em(16) !important;
          right: em(-50) !important;
          width: em(25);
          height: em(25);
        }
        .slick-prev:before, .slick-next:before {
          display: none;
        }
      }
    }
    .r-block {
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin-left: 0;
      width: 100%;
      margin-top: em(40);
      .pre-titl {
        font-size: em(38);
        margin-top: em(310,38);
        margin-left: em(35,38);
      }
      .titl {
        font-size: em(90);
        margin-top: em(30,90);
        margin-left: em(35,90);
      }
      .switching-color {
        margin: 0;
        position: absolute;
        top: em(120);
        .set { display: none; }
        .colors {
          display: block;
          margin-top: em(38);
          margin-left: em(37);
          .color-border {
            width: em(80);
            height: em(80);
            border-radius: em(45);
            margin-right: em(50);
            img {
              width: em(45);
              height: em(45);
            }
            &:hover{
              img{
                width: em(55);
                height: em(55);
              }
            }
          }
          .color-border-active {
            border: none;
            &:before {
              width: em(12);
              height: em(12);
              border-radius: em(7);
            }
            img {
              width: em(80);
              height: em(80);
            }
            &:hover{
              img {
                width: em(80);
                height: em(80);
              }}
          }
        }
      }
      .price {
        position: absolute;
        top: em(270);
        left: em(27);
        margin: 0;
        .big {
          font-size: em(72);
          letter-spacing: em(4, 72);
        }
        .litl {
          font-size: em(30);
          color: #1a332d;
          margin-left: em(20,30);
          &:before {
            bottom: em(-12, 30);
            width: em(45, 30);
            height: em(5, 30);
          }
        }
      }
      .s1-btn {
        font-size: em(36);
        display: none;
        max-width: 100%;
        box-shadow: -1px em(8,36) em(17,36) 0 rgba(29, 32, 108, 0.13);
        padding: em(40,36) 0;
        text-align: center;
        margin: 0;
        width: 100%;
      }
      .mob{display: block}
      .characteristics {
        border-bottom: 1px solid #b9b9b9;
        margin: 0;
        padding-bottom: em(17);
        margin-left: em(35);
        .titl-char{
          font-size: em(48);
          margin-top: em(100,48);
          margin-bottom: em(69,48);
        }
        ul{
          padding: 0;
          margin-bottom: 0;
        }
        .r-ul{float: none;margin-right: 0; margin-left: em(145)}
        li{
          list-style-type: none;
          display: block;
          p{
            font-size: em(33);
            margin-bottom: em(120,33);
          }
          span{
            margin-top: em(35,33);
          }
        }
      }
    }
  }

  .section2{
    display: none;
    padding-top: em(70);
    padding-bottom: em(335);
    position: relative;
    .l-block{
      position: relative;
      top: em(75);
      margin: 0;
      left: 0;
      padding-left: em(35);
      opacity: 0;
      width: 100%;
      height: 1px;
      overflow: hidden;
      .titl{
        font-size: em(48);
        margin-top: em(170,48);
      }
      .img-gamma{
        margin-top: em(120);
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: em(30);
        padding-left: em(2);
        ul{
          display: block;
          padding-left: 0;
          padding-right: em(37);
        }
        ul:first-child{margin-bottom: 0}
        li{
          display: block;
          width: 100%;
          height: em(355);
          img{width: 100%}
          margin-bottom: em(35);
        }
        li:first-child{margin-right: 0}
      }
      .l-bottom{
        margin-top: em(95);
        position: relative;
        top: em(0);
        margin-left: 0;
        .titl-bot{
          font-size: em(48);
          line-height: em(55,48);
          width: em(500,48);
        }
        ul{
          padding-left: em(15);
          margin-top: em(180);
          li{
            width: 100%;
            border-bottom: 1px solid #b9b9b9;
            padding-bottom: em(72);
            margin-top: em(140);
            img{
              display: block;
              width: em(180);
            }
            p{
              font-size: em(34);
              line-height: em(58,34);
              width: 100%;
              margin-top: em(60,34);
              margin-left: em(-20,34);
              padding-right: em(20,34);
            }
          }
          li:first-child{margin-top: 0}
        }
      }
    }
    .r-block{
      position: relative;
      vertical-align: top;
      width: 100%;
      display: inline-block;
      padding-left: em(35);
      margin-left: 0;
      .titl{
        font-size: em(48);
      }
      .text{
        margin-top: em(65);
        height: em(730);
        padding-right: em(27);
        &:before{
          bottom: em(-20);
          height: em(200);
        }
        p{
          font-size: em(32);
          line-height: em(72,32);
          margin-bottom: em(70,32);
        }
      }
      .button{
        font-size: em(38);
        margin-top: em(50,38);
        .description{
          padding: em(19,22) em(35,22);
          margin-right: em(18,22);
          &:hover{background-color: #1b342e;}
        }
        .hide{display: none;}
        .buy{
          display: none;
        }
      }
    }
    .r-bottom{
      margin-top: em(205);
      margin-left: em(37);
      .titl-bot{
        font-size: em(49);
        line-height: em(55,49);
        width: em(570,49);
        font-family: MontserratBold;
        color: #1b342e;
      }
      .partner{
        margin-top: em(55);
        p{
          font-size: em(34);
          line-height: em(65,34);
          margin-bottom: em(50,34);
          margin-left: em(3,34);
          width: em(570,34);
          color: #333333;
          font-family: MontserratRegular;
        }
        a{
          font-size: em(34);
          line-height: em(44,34);
          font-family: MontserratBold;
          color: #1b342e;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  .cart-open{
    .l-block{
      opacity: 1;
      height: auto;
      margin-top: em(0);
    }
    .r-block{
      .text{
        height:auto;
        &:before{display: none}}
      .button{
        .read{display: none}
        .hide{display: inline-block}
        .buy{opacity: 1}
      }
      .r-bottom{
        margin-top: em(0);
      }
    }
  }
  .mob-s2{display: block}

  .bg-card{
    font-size: em(440);
    bottom: em(-40,440);
    left: 0;
    letter-spacing: em(7,440);
    text-transform: none;
  }
}