.footer{
  .l-block{
    margin-top: em(90);
    display: inline-block;
    position: relative;
    margin-left: em(35);
    .social{
      padding-left: 0;
      li{
        display: inline-block;
        transition: all .3s ease;
        position: relative;
        vertical-align: middle;
        padding: 0 em(54);
        a img{
          width: em(56);
        }
        &:hover{
          opacity: .7;
        }
      }
      .facebook{
        a img{width: em(26)}
      }
      li:first-child{
        padding-left: 0;
      }
      li:last-child{
        padding-right: 0;
      }
    }
    .titl{
      font-size: em(48);
      margin-top: em(105,48);
    }
    p{
      font-size: em(34);
      line-height: em(44,34);
      margin-top: em(46,34);
    }
    .email{
      margin-top: em(63);
      input{
        font-size: em(38);
        line-height: em(95,38);
        padding-right: em(30,38);
        width: em(700,38);
      }
      img{
        width: em(27);
        margin-left: em(-30);
      }
    }
  }
  .r-block{
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding-top: em(210);
    margin-left: em(65);
    ul{
      margin-left: em(120);
    }
    ul:first-child{
      margin-left: 0;}
    li{
      font-size: em(33);
      line-height: em(70,33);
      margin: em(38,33) 0;}
    li:first-child{margin-top: 0}
    .contakt{
      text-align: center;
      position: absolute;
      display: block;
      margin: 0;
      padding: 0;
      top: em(0);
      left: em(110);
      li{
        font-size: em(38);
        line-height: em(50,38);
        color: #1b342e;
        margin: em(20,38) 0;
      }
      li:first-child{margin-top: 0}
    }
    .logo{
      display: none;
    }
  }
  .bot-inf{
    margin-top: em(60);
    text-align: center;
    .year, .maid{
      font-size: em(29);
      padding: em(70,29) 0;
    }
    .year{margin-left: 0; margin-right: em(75,29); color: #1b342e}
    .maid{margin-right: 0;margin-left: em(45,29); float: none;}
  }
}